.statusSelector {
    margin: 4px 0px;
    gap: 10;
    padding: 2px 6px 2px 6px;
    border-radius: 6px;
    width: max-content;
    color: var(--light);
}

.statusSelector__toDo {
    background-color: var(--grey);
}

.statusSelector__toDo:hover {
    background-color: var(--light-grey);
}

.statusSelector__inProgress {
    background-color: var(--primary);
}

.statusSelector__inProgress:hover {
    background-color: var(--primary-light);
}

.statusSelector__done {
    background-color: var(--success);
}

.statusSelector__done:hover {
    background-color: var(--success-light);
}
