@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(20) scale(0.1);
    }
    50% {
        opacity: 1;
        transform: translateY(10);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px) scale(1);
    }
}

.notificationContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    color: var(--dark);
    width: 240px;
    opacity: 0; 
    animation: appear 3s forwards; 
    transition: opacity 0.5s ease, transform 0.5s ease;
    font-weight: 400;
    line-height: 15px;
    border-radius: 8px;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.titleNotification {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.messageNotification {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}

.iconNotification {
    display: flex;
    position: static;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1199px) {
    .notificationContainer {
        bottom: 20px;
        left: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 1200px) {
    .notificationContainer {
        bottom: 20px;
        right: 20px;
        width: 280px;
        transform: translateY(20px);
    }
}
