@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.1);
    }
    20% {
        opacity: 1;
        transform: translateY(-20px) scale(1.05);
    }
    80% {
        opacity: 1;
        transform: translateY(-20px) scale(1.05);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px) scale(1.05);
    }
}

.notificationList {
    position: absolute;
    z-index: 1000;
}

.notificationContainer {
    margin-bottom: 10px;
}

.notificationContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    color: var(--dark);
    opacity: 0;
    animation: appear 7s forwards;
    animation-delay: 0.1s;
    transition: opacity 0.5s ease, transform 0.5s ease;
    font-weight: 400;
    line-height: 15px;
    border-radius: 8px;
}

.notificationContainer.fadeOut {
    animation: fadeOut 0.5s forwards; 
}


.messageContainer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.titleNotification {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.messageNotification {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}

.iconNotification {
    display: flex;
    position: static;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1199px) {
    .notificationList {
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
    }

    .notificationContainer {
        width: 240px;
    }
}

@media screen and (min-width: 1200px) {
    .notificationList {
        right: 20px;
        bottom: 20px;
    }

    .notificationContainer {
        width: 280px;
    }
}
