.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__animation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
