.menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 80;
    padding: 4px 28px 4px 28px;
    border-top: 1px solid rgb(235, 235, 235);
    margin-top: auto;
}

.Menu_buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.Menu_buttonContainer:hover {
    cursor: pointer;
    filter: invert(26%) sepia(87%) saturate(1316%) hue-rotate(199deg) brightness(99%) contrast(114%);
}

.Menu_buttonImage {
    position: static;
    width: 24px;
    height: 24px;
}

.Menu_buttonTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    margin: 0;
}
