@use '../config/font.css';
@use '../config/variables.css';
@use '../config/Modal.scss';
@use '../components/Menu/Menu.css';
@use '../components/DesktopMenu/DesktopMenu.css';
@use '../config/Buttons.scss';
@use '../components/Datepicker/Datepicker.css';
@use '../components/Table/Table.css';
@use '../components/CustomSelect/CustomSelect.css';
@use '../components/Loader/Loader.css';
@use '../components/AuthPage/AuthPage.css';
@use '../components/Notification/Notification.css';

::-webkit-input-placeholder {
    color: var(--light-grey);
}

:-moz-placeholder {
    color: var(--light-grey);
}

::-moz-placeholder {
    color: var(--light-grey);
}

:-ms-input-placeholder {
    color: var(--light-grey);
}

::-webkit-scrollbar {
    display: none;
}

$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-large: 14px;

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
}

div {
    margin: 0;
}

#root {
    min-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

a {
    color: var(--dark-grey);
    text-decoration: none;
}

label {
    display: flex;
    flex-direction: column;
    font-size: $font-size-medium;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
    margin-top: 8px;
}

textarea {
    overflow: hidden;
    resize: both;
    min-width: calc(100% - 34px);
}

input {
    margin: 0;
    padding: 0;
}

.pageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    box-sizing: content-box;

    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}

.tasksContainer {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.controlsContainer {
    display: grid;
    justify-content: flex-end;
    place-items: center;
    gap: 8px;
    grid-template-columns: repeat(3, 36px);
    height: 36px;
}

.headerFinderInput {
    display: flex;
    width: 100%;
    height: 36px;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;
}

.inputContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 8px;
    position: relative;
}

.taskDateAndTimeContainer {
    display: flex;
    flex-direction: row;

    .modalContainer__time {
        max-width: 78px;
        margin-right: 10px;
    }
}

.taskStatusSelector {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    box-sizing: border-box;
    border: 1px solid var(--light-grey);
    border-radius: 8px;

    .selectedStatus {
        width: 100%;
        border-radius: 8px;
        background-color: var(--white);
        padding: 8px 16px;
        border: 1px solid var(--light-grey);
        font-size: $font-size-medium;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0%;
    }

    .statuses {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 8px;
        padding: 4px;
        position: absolute;
        width: auto;
        top: 0;
        left: 0;
        background-color: var(--light);
        border: 1px solid var(--light-grey);
        border-radius: 8px;
        z-index: 1;

        &.statusesFilter {
            background-color: var(--white);
            width: 100%;
        }
    }
}



.customSelector {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: auto;
    cursor: pointer;
    font-size: $font-size-medium;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
}

.customFilterSelector {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: auto;
    cursor: pointer;
    font-size: $font-size-medium;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    min-height: 34px;
}

.customStatus {
    gap: 8px;
    padding: 8px 16px 8px 16px;
    color: var(--grey);
    border-radius: 8px;
    width: auto;
    &:hover {
        background-color: var(--light-grey);
        color: var(--light);
    }
}

.modalInput__time {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.modalContainer__status {
    width: 100%;
}

.modalContainer__date {
    width: 100%;
}

.iconButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 8px;
}

.headerButtonsContainer {
    display: flex;
    flex-direction: row;
    left: 5px;
    gap: 8px;
}

.headerContainer {
    display: flex;
    width: 100%;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    position: relative;
}

.toDoButton {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2px 6px 2px 6px;
    background-color: var(--grey);
    color: white;
    border-radius: 6px;
    text-wrap: nowrap;
}

.inProgressButton {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2px 6px 2px 6px;
    background-color: var(--primary);
    color: white;
    border-radius: 6px;
    text-wrap: nowrap;
}

.doneButton {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2px 6px 2px 6px;
    background-color: var(--success);
    color: white;
    border-radius: 6px;
    text-wrap: nowrap;
}

.errorText {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}

.searchStatus {
    display: flex;
    position: absolute;
    top: 6px;
    right: 6px;
    width: 10px;
    height: 10px;
    background-color: var(--danger);
    border-radius: 50%;
}

.filterStatusContainer {
    display: flex;
    position: absolute;
    top: 2px;
    right: 2px;
}

.filterStatus {
    display: flex;
    justify-content: center;
    width: 15px;
    height: 15px;
    background-color: var(--danger);
    border-radius: 50%;
}

.filterCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 12px;
}

.ulTasksInCalendar {
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: left;
    align-items: center;
}



@media (max-width: 1200px) {
    .controlsContainer {
        grid-template-columns: repeat(2, 36px);
        gap: 4px; 
    }
    .headerFinderInput {
        padding-left: 12px; 
        padding-right: 12px; 
        height: auto; 
    }

    .taskStatusSelector {
        flex-direction: column; 
        align-items: stretch; 
        gap: 8px; 
    }
}

@media (max-width: 768px) {
    html,
    body {
        font-size: $font-size-large; 
        overflow-y: auto; 
    }

    .controlsContainer {
        grid-template-columns: repeat(1, auto);
        gap: 2px; 
    }

    .headerFinderInput,
    .taskStatusSelector,
    .inputContainer {
        width: calc(100% - 16px);
        padding-left: 8px; 
        padding-right: 8px; 
        font-size: $font-size-medium; 
    }
}

@media (max-width: 480px) {
    label {
        font-size: $font-size-small; 
        margin-top: 4px; 
    }

    .headerFinderInput,
    .taskStatusSelector,
    .inputContainer {
        width: calc(100% - 16px);
        padding-left: 8px; 
        padding-right: 8px;
        font-size: $font-size-medium; 
    }
}
