.btn {
    transition: 0.5s all;
    text-decoration: none;
    width: auto;
    padding: 8px 12px 8px 12px;
}

.btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.searchButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.filterButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.filterButton {
    display: flex;
    width: 15px;
    height: 15px;
}

.filterButton:hover {
    cursor: pointer;
}

.searchButton {
    display: flex;
    width: 15px;
    height: 15px;
}

.searchButton {
    cursor: pointer;
}

.editButton {
    display: grid;
    width: 20px;
    height: 20px;
}

.cloneButton {
    display: grid;
    width: 20px;
    height: 20px;
}

.cloneButton:hover {
    cursor: pointer;
    filter: invert(26%) sepia(87%) saturate(1316%) hue-rotate(199deg) brightness(99%) contrast(114%);
}

.deleteButton {
    display: grid;
    width: 20px;
    height: 20px;
}

.editButton:hover {
    cursor: pointer;
    filter: invert(55%) sepia(83%) saturate(1017%) hue-rotate(13deg) brightness(109%) contrast(94%);
}

.deleteButton:hover {
    cursor: pointer;
    filter: invert(31%) sepia(24%) saturate(5892%) hue-rotate(333deg) brightness(83%) contrast(94%);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: relative;
    top:0;
    overflow:hidden;
}

.inputClearButton {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px 0 0 -30px;
    justify-content: center;
    /* align-items: flex-start; */
    padding: 2px 8px 2px 2px;
    width: 16px;
    height: 16px;
}

.inputClearButton:hover {
    cursor: pointer;
    color: var(--secondary-light);
}

.downButton {
    position: absolute;
    top: 8px;
    right: 16px;
}

.downButtonInDate {
    position: absolute;
    top: 8px;
    right: 16px;
}

.downButtonInDate:hover {
    cursor: pointer;
}
