.btn {
    transition: 0.5s all;
    text-decoration: none;
    width: auto;
    padding: 8px 12px 8px 12px;
}

.btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.menuButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.searchButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    position: relative;
}

.filterButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.menuButton {
    display: flex;
    width: 20px;
    height: 20px;
}

.menuButton:hover {
    cursor: pointer;
}

.editButton {
    display: grid;
}

.cloneButton {
    display: grid;
}

.cloneButton:hover {
    cursor: pointer;
    filter: invert(26%) sepia(87%) saturate(1316%) hue-rotate(199deg) brightness(99%) contrast(114%);
}

.deleteButton {
    display: grid;
}

.editButton:hover {
    cursor: pointer;
    filter: invert(55%) sepia(83%) saturate(1017%) hue-rotate(13deg) brightness(109%) contrast(94%);
}

.deleteButton:hover {
    cursor: pointer;
    filter: invert(31%) sepia(24%) saturate(5892%) hue-rotate(333deg) brightness(83%) contrast(94%);
}

.inputClearButton {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px 0 0 -30px;
    justify-content: center;
    padding: 2px 8px 2px 2px;
    width: 16px;
    height: 16px;
}

.inputClearButton:hover {
    cursor: pointer;
    color: var(--secondary-light);
}

.inputClearStatus {
    display: flex;
    position: absolute;
    top: 0;
    right: 35px;
    margin: 9px 0 0 0;
    justify-content: center;
    padding: 2px 8px 2px 2px;
    width: 12px;
    height: 12px;
}

.downButton {
    position: absolute;
    top: 8px;
    right: 16px;
}

.downButtonInDate {
    position: absolute;
    top: 8px;
    right: 16px;
}

.downButtonInDate:hover {
    cursor: pointer;
}

.Button_create {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--success);
    border-radius: 8px;
    color: var(--light);
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.Button_create:hover {
    cursor: pointer;
    background-color: var(--success-light);
}

.Button_createButton:hover {
    cursor: pointer;
    background-color: var(--primary-light);
}

.Button_cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 8px;
    color: var(--light);
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.Button_cancel:hover {
    cursor: pointer;
    background-color: var(--secondary-light);
    color: var(--light);
}

.Button_save {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--warning);
    border-radius: 8px;
    color: var(--dark-grey);
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.Button_clone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--warning);
    border-radius: 8px;
    color: var(--dark-grey);
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.Button_clone:hover {
    cursor: pointer;
    background-color: var(--warning-light);
    color: var(--dark-grey);
}

.Button_save:hover {
    cursor: pointer;
    background-color: var(--warning-light);
}

.Button_edit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--info);
    border-radius: 8px;
    color: var(--dark-grey);
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.Button_edit:hover {
    cursor: pointer;
    background-color: var(--info-light);
}

.Button_remove {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--danger);
    border-radius: 8px;
    color: var(--light);
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.Button_remove:hover {
    cursor: pointer;
    background-color: var(--danger-light);
}

@media screen and (max-width: 769px) {
    .downButtonInDate {
        position: absolute;
        bottom: 8px;
        right: 16px;
    }

    .Button_createButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        background-color: var(--primary);
        border-radius: 10px;
        border-style: none;
        color: var(--light);
        font-size: 16px;
        font-weight: normal;
        line-height: 19.36px;
        margin-right: 8px;
    }
}

@media screen and (min-width: 770px) {
    .downButtonInDate {
        position: absolute;
        top: 8px;
        right: 16px;
    }

    .Button_createButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        background-color: var(--primary);
        border-radius: 10px;
        border-style: none;
        color: var(--light);
        font-size: 16px;
        font-weight: normal;
        line-height: 19.36px;
        margin-right: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .downButtonInDate {
        position: absolute;
        top: 8px;
        right: 16px;
    }

    .Button_createButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        background-color: var(--primary);
        border-radius: 10px;
        border-style: none;
        color: var(--light);
        font-size: 16px;
        font-weight: normal;
        line-height: 19.36px;
        margin-right: 32px;
    }
}