.error {
    color: red;
    margin: 0;
}

.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modalRemoveParagraph {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.modalBoldText {
    font-weight: bold;
}

.modalCloseButton:hover {
    cursor: pointer;
    filter: invert(45%) sepia(15%) saturate(267%) hue-rotate(166deg) brightness(96%) contrast(86%);
}

.modalCloneButton:hover {
    cursor: pointer;
    color: var(--secondary-light);
}

.modalInput {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-wrap: wrap;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4;
    padding: 8px 16px 8px 16px;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    word-break: break-all;
}

.modalHeaderName {
    display: flex;
    margin: 0;
    word-break: break-word;
    font-size: 28px;
    font-weight: 400;
    line-height: 34.13px;
    text-align: left;
}

.modalButtons {
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 0;
}

.modalCloseButton {
    display: flex;
    align-items: flex-start;
    padding: 2px;
    width: 16px;
    height: 16px;
}

.modalCloneButton {
    display: flex;
    align-items: end;
    padding: 8px;
    width: 20px;
    height: 20px;
}

.modalModeText {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    hyphens: auto;
}

.modalModeText__description {
    margin: 0;
    word-break: break-all;
}

.modalModeDate {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.modalModeText__time {
    margin: 0;
    font-size: 12px;
    text-align: right;
}

.modalModeText__date {
    margin: 0;
    font-size: 12px;
    text-align: right;
}

.Button_create {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--success);
    border-radius: 8px;
    width: 83px;
    height: 36px;
    color: var(--light);
    border: none;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.Button_create:hover {
    cursor: pointer;
    background-color: var(--success-light);
}

.Button_createButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    background-color: var(--primary);
    border-radius: 10px;
    border-style: none;
    height: 40px;
    color: var(--light);
    font-size: 16px;
    font-weight: normal;
    line-height: 19.36px;
}

.Button_createButton:hover {
    cursor: pointer;
    background-color: var(--primary-light);
}

.Button_cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 8px;
    width: 83px;
    height: 36px;
    color: var(--light);
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.Button_cancel:hover {
    cursor: pointer;
    background-color: var(--secondary-light);
    color: var(--light);
}

.Button_save {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--warning);
    border-radius: 8px;
    width: 83px;
    height: 36px;
    color: var(--dark-grey);
    border: none;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.Button_clone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--warning);
    border-radius: 8px;
    width: 83px;
    height: 36px;
    color: var(--dark-grey);
    border: none;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.Button_clone:hover {
    cursor: pointer;
    background-color: var(--warning-light);
    color: var(--dark-grey);
}

.Button_save:hover {
    cursor: pointer;
    background-color: var(--warning-light);
}

.Button_edit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--info);
    border-radius: 8px;
    width: 83px;
    height: 36px;
    color: var(--dark-grey);
    border: none;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.Button_edit:hover {
    cursor: pointer;
    background-color: var(--info-light);
}

.Button_remove {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--danger);
    border-radius: 8px;
    width: 96px;
    height: 36px;
    color: var(--light);
    border: none;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
}

.Button_remove:hover {
    cursor: pointer;
    background-color: var(--danger-light);
}
